footer{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 200px;
    margin: 0;

    h3, a {
        color : $white;
        font-weight: 300;
    }

    h3{
        font-size : $large-size;
        margin-top: 0;
    }
}